@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Enter the start and end of your day:</p>
    <form method="get" action="/ShowAnimation">
        <input type="time" name="DayStart" required />
        <input type="time" name="DayEnd" required />
        <button type="submit">Show Day Progress</button>
    </form>
</div>
